Setting up a connection to the Database

In [94]:
# Connection parameters
server = 'ANUBHAV-GALAXY-\SQLEXPRESS'  
database = 'AdventureWorks2019'  
driver = 'ODBC Driver 17 for SQL Server'  # Ensure you have this driver installed
trusted_connection = 'yes'

from sqlalchemy import create_engine
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI



# Create SQLAlchemy engine
connection_string = f"mssql+pyodbc:///?odbc_connect=DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection={trusted_connection};"
engine = create_engine(connection_string)

# Create SQLDatabase object 
db = SQLDatabase(engine,schema = 'Production')

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Anubhav\AppData\Local\Temp\ipykernel_96152\2908002570.py:2: SyntaxWarning: invalid escape sequence '\S'
  server = 'ANUBHAV-GALAXY-\SQLEXPRESS'
c:\Users\Anubhav\AppData\Local\Programs\Python\Python312\Lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'hierarchyid' of column 'DocumentNode'
  self._metadata.reflect(
c:\Users\Anubhav\AppData\Local\Programs\Python\Python312\Lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'hierarchyid' of column 'OrganizationNode'
  self._metadata.reflect(

Checking out the connection and what all things it can do for us

In [173]:
# Checking if the engine works
# Running a sample query

db.run("SELECT TOP 5 Name,ProductCategoryID FROM [Production].[ProductCategory] ORDER BY [ProductCategoryID]")

"[('Bikes', 1), ('Components', 2), ('Clothing', 3), ('Accessories', 4)]"

In [177]:
# Some imp methods of the SQLDatabase Object

print(db.get_table_info())
#db.get_table_names()
# db.dialect

CREATE TABLE [Production].[BillOfMaterials] (
	[BillOfMaterialsID] INTEGER NOT NULL IDENTITY(1,1),
	[ProductAssemblyID] INTEGER NULL,
	[ComponentID] INTEGER NOT NULL,
	[StartDate] DATETIME NOT NULL DEFAULT (getdate()),
	[EndDate] DATETIME NULL,
	[UnitMeasureCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BOMLevel] SMALLINT NOT NULL,
	[PerAssemblyQty] DECIMAL(8, 2) NOT NULL DEFAULT ((1.00)),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_BillOfMaterials_BillOfMaterialsID] PRIMARY KEY ([BillOfMaterialsID]),
	CONSTRAINT [FK_BillOfMaterials_Product_ComponentID] FOREIGN KEY([ComponentID]) REFERENCES [Production].[Product] ([ProductID]),
	CONSTRAINT [FK_BillOfMaterials_Product_ProductAssemblyID] FOREIGN KEY([ProductAssemblyID]) REFERENCES [Production].[Product] ([ProductID]),
	CONSTRAINT [FK_BillOfMaterials_UnitMeasure_UnitMeasureCode] FOREIGN KEY([UnitMeasureCode]) REFERENCES [Production].[UnitMeasure] ([UnitMeasureCode])
)

/*
3 rows from BillOfMaterials table:
BillOfMaterialsID	ProductAssemblyID	ComponentID	StartDate	EndDate	UnitMeasureCode	BOMLevel	PerAssemblyQty	ModifiedDate
893	None	749	2010-05-26 00:00:00	None	EA 	0	1.00	2010-05-12 00:00:00
271	None	750	2010-03-04 00:00:00	2010-05-03 00:00:00	EA 	0	1.00	2010-05-03 00:00:00
34	None	750	2010-05-04 00:00:00	None	EA 	0	1.00	2010-04-20 00:00:00
*/


CREATE TABLE [Production].[Culture] (
	[CultureID] NCHAR(6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Culture_CultureID] PRIMARY KEY ([CultureID])
)

/*
3 rows from Culture table:
CultureID	Name	ModifiedDate
      	Invariant Language (Invariant Country)	2008-04-30 00:00:00
ar    	Arabic	2008-04-30 00:00:00
en    	English	2008-04-30 00:00:00
*/


CREATE TABLE [Production].[Document] (
	[DocumentLevel] AS (([DocumentNode].[GetLevel]())),
	[Title] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Owner] INTEGER NOT NULL,
	[FolderFlag] BIT NOT NULL DEFAULT ((0)),
	[FileName] NVARCHAR(400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FileExtension] NVARCHAR(8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Revision] NCHAR(5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ChangeNumber] INTEGER NOT NULL DEFAULT ((0)),
	[Status] TINYINT NOT NULL,
	[DocumentSummary] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Document] VARBINARY(max) NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Document_DocumentNode] PRIMARY KEY ([DocumentNode]),
	CONSTRAINT [FK_Document_Employee_Owner] FOREIGN KEY([Owner]) REFERENCES [HumanResources].[Employee] ([BusinessEntityID])
)

/*
3 rows from Document table:
DocumentLevel	Title	Owner	FolderFlag	FileName	FileExtension	Revision	ChangeNumber	Status	DocumentSummary	Document	rowguid	ModifiedDate
0	Documents	217	True	Documents		0    	0	2	None	None	27cf33af-c338-4842-966c-75ca11aaa6a3	2017-12-13 13:58:03.943000
1	Overview	217	True	Overview		0    	0	2	None	None	26a266f1-1d23-40e2-af48-6ab8d954fe37	2017-12-13 13:58:03.977000
2	Introduction 1	219	False	Introduction 1.doc	.doc	4    	28	2	None	b'\xd0\xcf\x11\xe0\xa1\xb1\x1a\xe1\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00>\	48265174-8451-4967-973a-639c2276cfaf	2013-05-30 00:00:00
*/


CREATE TABLE [Production].[Illustration] (
	[IllustrationID] INTEGER NOT NULL IDENTITY(1,1),
	[Diagram] XML NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Illustration_IllustrationID] PRIMARY KEY ([IllustrationID])
)

/*
3 rows from Illustration table:
IllustrationID	Diagram	ModifiedDate
3	<!-- Generated by Adobe Illustrator CS -> XAML Export Plug-In Version 0.17      --><!-- For question	2014-01-09 13:06:11.780000
4	<!-- Generated by Adobe Illustrator CS -> XAML Export Plug-In Version 0.17      --><!-- For question	2014-01-09 13:06:11.903000
5	<!-- Generated by Adobe Illustrator CS -> XAML Export Plug-In Version 0.17      --><!-- For question	2014-01-09 13:06:11.950000
*/


CREATE TABLE [Production].[Location] (
	[LocationID] SMALLINT NOT NULL IDENTITY(1,1),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CostRate] SMALLMONEY NOT NULL DEFAULT ((0.00)),
	[Availability] DECIMAL(8, 2) NOT NULL DEFAULT ((0.00)),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Location_LocationID] PRIMARY KEY ([LocationID])
)

/*
3 rows from Location table:
LocationID	Name	CostRate	Availability	ModifiedDate
1	Tool Crib	0.0000	0.00	2008-04-30 00:00:00
2	Sheet Metal Racks	0.0000	0.00	2008-04-30 00:00:00
3	Paint Shop	0.0000	0.00	2008-04-30 00:00:00
*/


CREATE TABLE [Production].[ProductCategory] (
	[ProductCategoryID] INTEGER NOT NULL IDENTITY(1,1),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductCategory_ProductCategoryID] PRIMARY KEY ([ProductCategoryID])
)

/*
3 rows from ProductCategory table:
ProductCategoryID	Name	rowguid	ModifiedDate
1	Bikes	cfbda25c-df71-47a7-b81b-64ee161aa37c	2008-04-30 00:00:00
2	Components	c657828d-d808-4aba-91a3-af2ce02300e9	2008-04-30 00:00:00
3	Clothing	10a7c342-ca82-48d4-8a38-46a2eb089b74	2008-04-30 00:00:00
*/


CREATE TABLE [Production].[ProductCostHistory] (
	[ProductID] INTEGER NOT NULL,
	[StartDate] DATETIME NOT NULL,
	[EndDate] DATETIME NULL,
	[StandardCost] MONEY NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductCostHistory_ProductID_StartDate] PRIMARY KEY ([ProductID], [StartDate]),
	CONSTRAINT [FK_ProductCostHistory_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])
)

/*
3 rows from ProductCostHistory table:
ProductID	StartDate	EndDate	StandardCost	ModifiedDate
707	2011-05-31 00:00:00	2012-05-29 00:00:00	12.0278	2012-05-29 00:00:00
707	2012-05-30 00:00:00	2013-05-29 00:00:00	13.8782	2013-05-29 00:00:00
707	2013-05-30 00:00:00	None	13.0863	2013-05-16 00:00:00
*/


CREATE TABLE [Production].[ProductDescription] (
	[ProductDescriptionID] INTEGER NOT NULL IDENTITY(1,1),
	[Description] NVARCHAR(400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductDescription_ProductDescriptionID] PRIMARY KEY ([ProductDescriptionID])
)

/*
3 rows from ProductDescription table:
ProductDescriptionID	Description	rowguid	ModifiedDate
3	Chromoly steel.	301eed3a-1a82-4855-99cb-2afe8290d641	2013-04-30 00:00:00
4	Aluminum alloy cups; large diameter spindle.	dfeba528-da11-4650-9d86-cafda7294eb0	2013-04-30 00:00:00
5	Aluminum alloy cups and a hollow axle.	f7178da7-1a7e-4997-8470-06737181305e	2013-04-30 00:00:00
*/


CREATE TABLE [Production].[ProductDocument] (
	[ProductID] INTEGER NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductDocument_ProductID_DocumentNode] PRIMARY KEY ([ProductID], [DocumentNode]),
	CONSTRAINT [FK_ProductDocument_Document_DocumentNode] FOREIGN KEY([DocumentNode]) REFERENCES [Production].[Document] ([DocumentNode]),
	CONSTRAINT [FK_ProductDocument_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])
)

/*
3 rows from ProductDocument table:
ProductID	ModifiedDate
317	2013-12-29 13:51:58.103000
318	2013-12-29 13:51:58.103000
319	2013-12-29 13:51:58.103000
*/


CREATE TABLE [Production].[ProductInventory] (
	[ProductID] INTEGER NOT NULL,
	[LocationID] SMALLINT NOT NULL,
	[Shelf] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Bin] TINYINT NOT NULL,
	[Quantity] SMALLINT NOT NULL DEFAULT ((0)),
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductInventory_ProductID_LocationID] PRIMARY KEY ([ProductID], [LocationID]),
	CONSTRAINT [FK_ProductInventory_Location_LocationID] FOREIGN KEY([LocationID]) REFERENCES [Production].[Location] ([LocationID]),
	CONSTRAINT [FK_ProductInventory_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])
)

/*
3 rows from ProductInventory table:
ProductID	LocationID	Shelf	Bin	Quantity	rowguid	ModifiedDate
1	1	A	1	408	47a24246-6c43-48eb-968f-025738a8a410	2014-08-08 00:00:00
1	6	B	5	324	d4544d7d-caf5-46b3-ab22-5718dcc26b5e	2014-08-08 00:00:00
1	50	A	5	353	bff7dc60-96a8-43ca-81a7-d6d2ed3000a8	2014-08-08 00:00:00
*/


CREATE TABLE [Production].[ProductListPriceHistory] (
	[ProductID] INTEGER NOT NULL,
	[StartDate] DATETIME NOT NULL,
	[EndDate] DATETIME NULL,
	[ListPrice] MONEY NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductListPriceHistory_ProductID_StartDate] PRIMARY KEY ([ProductID], [StartDate]),
	CONSTRAINT [FK_ProductListPriceHistory_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])
)

/*
3 rows from ProductListPriceHistory table:
ProductID	StartDate	EndDate	ListPrice	ModifiedDate
707	2011-05-31 00:00:00	2012-05-29 00:00:00	33.6442	2012-05-29 00:00:00
707	2012-05-30 00:00:00	2013-05-29 00:00:00	33.6442	2013-05-29 00:00:00
707	2013-05-30 00:00:00	None	34.9900	2013-05-09 00:00:00
*/


CREATE TABLE [Production].[ProductModelIllustration] (
	[ProductModelID] INTEGER NOT NULL,
	[IllustrationID] INTEGER NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductModelIllustration_ProductModelID_IllustrationID] PRIMARY KEY ([ProductModelID], [IllustrationID]),
	CONSTRAINT [FK_ProductModelIllustration_Illustration_IllustrationID] FOREIGN KEY([IllustrationID]) REFERENCES [Production].[Illustration] ([IllustrationID]),
	CONSTRAINT [FK_ProductModelIllustration_ProductModel_ProductModelID] FOREIGN KEY([ProductModelID]) REFERENCES [Production].[ProductModel] ([ProductModelID])
)

/*
3 rows from ProductModelIllustration table:
ProductModelID	IllustrationID	ModifiedDate
7	3	2014-01-09 14:41:02.167000
10	3	2014-01-09 14:41:02.167000
47	4	2014-01-09 14:41:02.183000
*/


CREATE TABLE [Production].[ProductModelProductDescriptionCulture] (
	[ProductModelID] INTEGER NOT NULL,
	[ProductDescriptionID] INTEGER NOT NULL,
	[CultureID] NCHAR(6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductModelProductDescriptionCulture_ProductModelID_ProductDescriptionID_CultureID] PRIMARY KEY ([ProductModelID], [ProductDescriptionID], [CultureID]),
	CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID] FOREIGN KEY([CultureID]) REFERENCES [Production].[Culture] ([CultureID]),
	CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID] FOREIGN KEY([ProductDescriptionID]) REFERENCES [Production].[ProductDescription] ([ProductDescriptionID]),
	CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID] FOREIGN KEY([ProductModelID]) REFERENCES [Production].[ProductModel] ([ProductModelID])
)

/*
3 rows from ProductModelProductDescriptionCulture table:
ProductModelID	ProductDescriptionID	CultureID	ModifiedDate
1	1199	en    	2013-04-30 00:00:00
1	1467	ar    	2013-04-30 00:00:00
1	1589	fr    	2013-04-30 00:00:00
*/


CREATE TABLE [Production].[ProductModel] (
	[ProductModelID] INTEGER NOT NULL IDENTITY(1,1),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CatalogDescription] XML NULL,
	[Instructions] XML NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductModel_ProductModelID] PRIMARY KEY ([ProductModelID])
)

/*
3 rows from ProductModel table:
ProductModelID	Name	CatalogDescription	Instructions	rowguid	ModifiedDate
1	Classic Vest	None	None	29321d47-1e4c-4aac-887c-19634328c25e	2013-04-30 00:00:00
2	Cycling Cap	None	None	474fb654-3c96-4cb9-82df-2152eeffbdb0	2011-05-01 00:00:00
3	Full-Finger Gloves	None	None	a75483fe-3c47-4aa4-93cf-664b51192987	2012-04-30 00:00:00
*/


CREATE TABLE [Production].[ProductPhoto] (
	[ProductPhotoID] INTEGER NOT NULL IDENTITY(1,1),
	[ThumbNailPhoto] VARBINARY(max) NULL,
	[ThumbnailPhotoFileName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LargePhoto] VARBINARY(max) NULL,
	[LargePhotoFileName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductPhoto_ProductPhotoID] PRIMARY KEY ([ProductPhotoID])
)

/*
3 rows from ProductPhoto table:
ProductPhotoID	ThumbNailPhoto	ThumbnailPhotoFileName	LargePhoto	LargePhotoFileName	ModifiedDate
1	b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80\x00\x00\x00\x80\x00\x80\x80\x00\x00\x00\x80\x80\x00\x	no_image_available_small.gif	b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x00\x80\x00\x00\x00\x80\x00\x80\x80\x00\x00\x00\x80\x80	no_image_available_large.gif	2008-04-30 00:00:00
69	b'GIF89aP\x001\x00\xf7\x00\x00\xe3\xe3\xfc\xa6\xac\xb3\xf5\xf6\xfe0=G\xf8\xfa\xfd\xed\xee\xfe\x98\x9	racer02_black_f_small.gif	b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\xd3\xd3\xfe\xe2\xe3\xfe\x86\x87\x8a\xdb\xdc\xfe\xd7\xd8\xe7\x92	racer02_black_f_large.gif	2008-04-30 00:00:00
70	b'GIF89aP\x001\x00\xf7\x00\x00\xe3\xe3\xfc\xeb\xec\xf3\xf5\xf6\xfe\x99\x9b\x9d\xed\xed\xfe\xdc\xe3\x	racer02_black_small.gif	b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x86\x87\x8a\xec\xed\xfe\xd7\xd8\xe7\xd3\xd3\xfe\xe3\xe3\xfe\x90	racer02_black_large.gif	2012-10-19 09:56:38.273000
*/


CREATE TABLE [Production].[ProductProductPhoto] (
	[ProductID] INTEGER NOT NULL,
	[ProductPhotoID] INTEGER NOT NULL,
	[Primary] BIT NOT NULL DEFAULT ((0)),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductProductPhoto_ProductID_ProductPhotoID] PRIMARY KEY ([ProductID], [ProductPhotoID]),
	CONSTRAINT [FK_ProductProductPhoto_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID]),
	CONSTRAINT [FK_ProductProductPhoto_ProductPhoto_ProductPhotoID] FOREIGN KEY([ProductPhotoID]) REFERENCES [Production].[ProductPhoto] ([ProductPhotoID])
)

/*
3 rows from ProductProductPhoto table:
ProductID	ProductPhotoID	Primary	ModifiedDate
1	1	True	2008-03-31 00:00:00
2	1	True	2008-03-31 00:00:00
3	1	True	2008-03-31 00:00:00
*/


CREATE TABLE [Production].[ProductReview] (
	[ProductReviewID] INTEGER NOT NULL IDENTITY(1,1),
	[ProductID] INTEGER NOT NULL,
	[ReviewerName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ReviewDate] DATETIME NOT NULL DEFAULT (getdate()),
	[EmailAddress] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Rating] INTEGER NOT NULL,
	[Comments] NVARCHAR(3850) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductReview_ProductReviewID] PRIMARY KEY ([ProductReviewID]),
	CONSTRAINT [FK_ProductReview_Product_ProductID] FOREIGN KEY([ProductID]) REFERENCES [Production].[Product] ([ProductID])
)

/*
3 rows from ProductReview table:
ProductReviewID	ProductID	ReviewerName	ReviewDate	EmailAddress	Rating	Comments	ModifiedDate
1	709	John Smith	2013-09-18 00:00:00	john@fourthcoffee.com	5	I can't believe I'm singing the praises of a pair of socks, but I just came back from a grueling
3-	2013-09-18 00:00:00
2	937	David	2013-11-13 00:00:00	david@graphicdesigninstitute.com	4	A little on the heavy side, but overall the entry/exit is easy in all conditions. I've used these pe	2013-11-13 00:00:00
3	937	Jill	2013-11-15 00:00:00	jill@margiestravel.com	2	Maybe it's just because I'm new to mountain biking, but I had a terrible time getting use
to these 	2013-11-15 00:00:00
*/


CREATE TABLE [Production].[ProductSubcategory] (
	[ProductSubcategoryID] INTEGER NOT NULL IDENTITY(1,1),
	[ProductCategoryID] INTEGER NOT NULL,
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ProductSubcategory_ProductSubcategoryID] PRIMARY KEY ([ProductSubcategoryID]),
	CONSTRAINT [FK_ProductSubcategory_ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID]) REFERENCES [Production].[ProductCategory] ([ProductCategoryID])
)

/*
3 rows from ProductSubcategory table:
ProductSubcategoryID	ProductCategoryID	Name	rowguid	ModifiedDate
1	1	Mountain Bikes	2d364ade-264a-433c-b092-4fcbf3804e01	2008-04-30 00:00:00
2	1	Road Bikes	000310c0-bcc8-42c4-b0c3-45ae611af06b	2008-04-30 00:00:00
3	1	Touring Bikes	02c5061d-ecdc-4274-b5f1-e91d76bc3f37	2008-04-30 00:00:00
*/


CREATE TABLE [Production].[Product] (
	[ProductID] INTEGER NOT NULL IDENTITY(1,1),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ProductNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MakeFlag] BIT NOT NULL DEFAULT ((1)),
	[FinishedGoodsFlag] BIT NOT NULL DEFAULT ((1)),
	[Color] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SafetyStockLevel] SMALLINT NOT NULL,
	[ReorderPoint] SMALLINT NOT NULL,
	[StandardCost] MONEY NOT NULL,
	[ListPrice] MONEY NOT NULL,
	[Size] NVARCHAR(5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SizeUnitMeasureCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WeightUnitMeasureCode] NCHAR(3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Weight] DECIMAL(8, 2) NULL,
	[DaysToManufacture] INTEGER NOT NULL,
	[ProductLine] NCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Class] NCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Style] NCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProductSubcategoryID] INTEGER NULL,
	[ProductModelID] INTEGER NULL,
	[SellStartDate] DATETIME NOT NULL,
	[SellEndDate] DATETIME NULL,
	[DiscontinuedDate] DATETIME NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Product_ProductID] PRIMARY KEY ([ProductID]),
	CONSTRAINT [FK_Product_ProductModel_ProductModelID] FOREIGN KEY([ProductModelID]) REFERENCES [Production].[ProductModel] ([ProductModelID]),
	CONSTRAINT [FK_Product_ProductSubcategory_ProductSubcategoryID] FOREIGN KEY([ProductSubcategoryID]) REFERENCES [Production].[ProductSubcategory] ([ProductSubcategoryID]),
	CONSTRAINT [FK_Product_UnitMeasure_SizeUnitMeasureCode] FOREIGN KEY([SizeUnitMeasureCode]) REFERENCES [Production].[UnitMeasure] ([UnitMeasureCode]),
	CONSTRAINT [FK_Product_UnitMeasure_WeightUnitMeasureCode] FOREIGN KEY([WeightUnitMeasureCode]) REFERENCES [Production].[UnitMeasure] ([UnitMeasureCode])
)

/*
3 rows from Product table:
ProductID	Name	ProductNumber	MakeFlag	FinishedGoodsFlag	Color	SafetyStockLevel	ReorderPoint	StandardCost	ListPrice	Size	SizeUnitMeasureCode	WeightUnitMeasureCode	Weight	DaysToManufacture	ProductLine	Class	Style	ProductSubcategoryID	ProductModelID	SellStartDate	SellEndDate	DiscontinuedDate	rowguid	ModifiedDate
1	Adjustable Race	AR-5381	False	False	None	1000	750	0.0000	0.0000	None	None	None	None	0	None	None	None	None	None	2008-04-30 00:00:00	None	None	694215b7-08f7-4c0d-acb1-d734ba44c0c8	2014-02-08 10:01:36.827000
2	Bearing Ball	BA-8327	False	False	None	1000	750	0.0000	0.0000	None	None	None	None	0	None	None	None	None	None	2008-04-30 00:00:00	None	None	58ae3c20-4f3a-4749-a7d4-d568806cc537	2014-02-08 10:01:36.827000
3	BB Ball Bearing	BE-2349	True	False	None	800	600	0.0000	0.0000	None	None	None	None	1	None	None	None	None	None	2008-04-30 00:00:00	None	None	9c21aed2-5bfa-4f18-bcb8-f11638dc2e4e	2014-02-08 10:01:36.827000
*/


CREATE TABLE [Production].[ScrapReason] (
	[ScrapReasonID] SMALLINT NOT NULL IDENTITY(1,1),
	[Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_ScrapReason_ScrapReasonID] PRIMARY KEY ([ScrapReasonID])
)

/*
3 rows from ScrapReason table:
ScrapReasonID	Name	ModifiedDate
1	Brake assembly not as ordered	2008-04-30 00:00:00
2	Color incorrect	2008-04-30 00:00:00

Now we can start off with the chain components and diving into them

Create_SQL_Query_Chain

In [183]:
from langchain.chains import create_sql_query_chain

llm = ChatOpenAI(model = 'gpt-4')

# Instantiating the create_sql_query_chain
writer_query = create_sql_query_chain(llm = llm, db = db)

# Invoking the chain
response = writer_query.invoke({"question": "How many countries are there in the world?",'table_names_to_use':['ProductCategory']})
print(response)

I'm afraid I can't answer your question using the available tables. The tables provided do not contain any data about countries.

In [184]:
# Checking out the underlying prompt
from langchain.chains.sql_database.prompt import PROMPT, SQL_PROMPTS

print(PROMPT.template)

Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, always limit your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a the few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [150]:
from langchain_core.prompts import PromptTemplate

prompt_template = """You are a helpful assistant tasked with generating plain SQL queries based on user questions.

Guidelines:
1. Generate a syntactically correct {dialect} SQL query that answers the user's question.
2. Provide only the SQL query as the output. 
   - Do not include any markdown formatting (e.g., ```sql or ```)
   - Do not add prefixes like "SQLQuery:" or any other additional text.
3. Limit the query to {top_k} results unless the user specifies otherwise.
4. Order results by a relevant column, if applicable, to return the most interesting examples.
5. Never select all columns; include only those relevant to the question.
6. Use only the column names from the schema provided. Avoid querying non-existent columns.
7. **If the user's question cannot be answered using the provided schema or data, respond with: "We don't have related data in the database".**

### Example:
User's question: "How many product categories are there?"
Response:
SELECT COUNT([ProductCategoryID]) AS [CategoryCount]
FROM [Production].[ProductCategory]

Notice:
- The response contains only the plain SQL query without prefixes or suffixes.
- No markdown or additional formatting.

Only use the following tables:
{table_info}

Question: {input}"""
prompt = PromptTemplate.from_template(prompt_template)

In [187]:
# Executing with the customized prompt

response = writer_query.invoke({"question": "List the product categories ",
                         'table_names_to_use': ['ProductCategory'],
                         'prompt':prompt})

print(response)

SELECT TOP 5 [Name] FROM [Production].[ProductCategory]

Execute Query component

In [191]:
# A tool to execute sql queries using the engine
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool


# Instantiating the tool
execute_query = QuerySQLDataBaseTool(db=db)

# Chain
sql_chain = writer_query | execute_query
response = sql_chain.invoke({"question": "How many categories in product exist",
                         "table_names_to_use":['ProductCategory']})

In [192]:
response

'[(4,)]'

Answer Generator

In [193]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

chain = (
    RunnablePassthrough.assign(query=writer_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer_prompt
    | llm
    | StrOutputParser()
)

In [195]:
chain.invoke({"question": "How many categories in product exist",
              "table_names_to_use":['ProductCategory']})

'There are 4 product categories.'

In [ ]:
{"question": "How many categories in product exist",
              "table_names_to_use":['ProductCategory'],
              'query':<'sql query'>,
              'result':<'info from db'}